<p class="input-group">
  <input type="text" class="form-control patient-last-name" placeholder="Last Name">
  <input type="text" class="form-control patient-first-name" placeholder="Last Name">
  <input type="text" class="form-control patient-id" placeholder="Last Name">
  <input type="text" class="form-control patient-age" placeholder="Last Name">
  
  <span class="input-group-btn"><a class="btn btn-default clear-search" type="button">Search</a></span>
</p>
<div class="providerTable">
  {{view providers}}
</div>
